<header class="header animate-fade-in">
  <div class="profile-container">
    <div class="profile-image-container">
      <img
        src="assets/images/profile.jpg"
        alt="Profile Picture"
        class="profile-image"
      />
    </div>
    <div class="profile-info">
      <h1>Rakesh Kandula</h1>
      <p class="title">Full Stack Software Engineer</p>
      <div class="social-links">
        <a
          href="https://www.linkedin.com/in/rakeshkandulark"
          target="_blank"
          class="social-link"
        >
          <i class="fab fa-linkedin"></i>
          LinkedIn
        </a>
        <a
          href="https://rakeshkandula.netlify.app/"
          target="_blank"
          class="social-link"
        >
          <i class="fas fa-briefcase"></i>
          Portfolio
        </a>
      </div>
    </div>
  </div>
</header>
